.th {
	border-color: #FE0000;
	background-color: #222222;
	width: 100%;
	height: 100%;
	height: 200px;
	position: relative;
}
#demo {
	background-color: #a70000;
	font-style: italic;
	color: #ffffff;
}
.title {
	font-style: italic;
	font-weight: bold;

}
.accordion {
position: relative;
right: 2.5%;
}
#demoB {
	background-color: #a70000;
	font-style: italic;
	color: #ffffff;
}
#demoC {
	background-color: #a70000;
	font-style: italic;
	color: #ffffff;
}